name: CI

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    uses: aspithost/actions/.github/workflows/build-node.yml@v1
    with:
      run-sonar: true
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
