name: Release

on: workflow_dispatch

permissions:
  contents: write
  id-token: write

jobs:
  build:
    uses: aspithost/actions/.github/workflows/build-node.yml@v1
    with:
      upload-artifact: true

  release:
    needs: build
    uses: aspithost/actions/.github/workflows/release-npm.yml@v1
    permissions:
      contents: write
      id-token: write
    with:
      package-path: '.'
      artifact-name: dist
