name: Release

on: workflow_dispatch

permissions:
  contents: write
  id-token: write

jobs:
  build:
    uses: aspithost/actions/.github/workflows/build-ts.yml@v0
    with:
      upload-artifact: true

  release:
    needs: build
    uses: aspithost/actions/.github/workflows/release.yml@v0
    permissions:
      contents: write
      id-token: write
    with:
      package-path: '.'
      artifact-name: dist
